# ----------------------------------------
# Environment Files
# ----------------------------------------
.env
# Основний файл змінних середовища (секрети)

.env.*
# Всі додаткові файли змінних середовища (production, development, test)

!env.example
# Приклад env для команди – не ігнорується

example.env
# Альтернативний приклад env для локальної розробки


# ----------------------------------------
# Python cache
# ----------------------------------------
__pycache__/
*.pyc
# Кеш Python – автоматично створюється під час запуску


# ----------------------------------------
# Fly.io deployment
# ----------------------------------------
fly.toml
# Конфігураційний файл Fly.io – може містити секрети, ігноруємо


# ----------------------------------------
# Virtual environment
# ----------------------------------------
/.venv/Lib/site-packages/_distutils_hack
/.venv/Lib/site-packages/_pytest
/.venv/Lib/site-packages/aiosmtplib-4.0.2.dist-info
/.venv
# Локальне середовище Python, пакети та бібліотеки
